body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

$width:100%;
$pageWidth:1143px;
$borderDirection:bottom;


.Fall{
    width: $width;
    margin-top: 56px;
// 1.所有品牌
    .all{
        width: $pageWidth;
        height: 2064px;
        background: pink;
        margin: 0 auto;
        .wrapper{
            width: $pageWidth;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            .cont{
                width: 1080px;
                height: 40px;
                line-height: 40px;
                border-#{$borderDirection}:1px solid #dddddd;
                a{
                    color: #555555;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
        .know{
            text-align: center;
            font-weight: bold;
            color: #50586b;
            font-size: 26px;
            line-height: 33px;
            display: block;
            margin-#{$borderDirection}: 20px;
        }
        .know:hover{
            text-decoration: none;
        }
    }
    .tab{
        width: $width;
        height: 368px;
        display: flex;
        justify-content: center;
        align-items: center;
        table{
            width: 1080px;
            height: 368px;
            tbody{
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    .thborder{    
                        text-align: center;
                        line-height: 1.2;
                        width: 90px;
                        padding: 15px 0;
                        border:1px solid #dddddd;
                        color: #555555;
                    }
                    .title{
                        padding: 12px;
                        line-height: 1.6;
                        .Astyle{
                            font-size: 14px;
                            margin-right: 36px;
                            white-space: nowrap;
                            color: #000000;
                        }
                    }
                    td{
                        border: 1px solid #dddddd;
                    }
                }
                tr:nth-of-type(even) {
                    background: #f3f4f4;
                }
            }
        }
    }
    /* 2.排序 */
    .sortbox{
        width: $pageWidth;
        height: 40px;
        background: yellow;
        margin: 0 auto;
        margin-top: 36px;
        .sort{
            width: 1080px;
            height: 40px;
            background: green;
            margin: 0 auto;
            .sort-left{
                width: 424px;
                height: 40px;
                background: rosybrown;
                float: left;
                .sort-title{
                    line-height: 40px;
                    height: 40px;
                    display: inline-block;
                    font-weight: bold;
                    margin: 0 15px 0 0;
                    color: #999999;
                }
            }
            // .kaiguan{

            // }
            .sort-right{
                width: 100px;
                height: 40px;
                background: blue;
                float: right;
                font-size: 14px;
                line-height: 40px;
                .count{
                    color: #999999;
                    font-size: 14px;
                }
            }
        }
    }
}
