body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

$width:100%;
$pageWidth:1143px;
$borderDirection:bottom;


.Fall{
    width: $width;
    margin-top: 56px;
// 1.所有品牌
    .all{
        width: $pageWidth;
        // height: 2064px;
        margin: 0 auto;
        .littleTit{
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .wrapper{
            width: $pageWidth;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            .cont{
                width: 1080px;
                height: 40px;
                line-height: 40px;
                border-#{$borderDirection}:1px solid #dddddd;
                a{
                    color: #555555;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
        .know{
            text-align: center;
            font-weight: bold;
            color: #50586b;
            font-size: 26px;
            line-height: 33px;
            display: block;
            margin-#{$borderDirection}: 20px;
        }
        .know:hover{
            text-decoration: none;
        }
        .tab{
            width: $width;
            // height: 368px;
            display: flex;
            justify-content: center;
            align-items: center;
            table{
                width: 1080px;
                // height: 368px;
                tbody{
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;
                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                        .thborder{    
                            text-align: center;
                            line-height: 1.2;
                            width: 90px;
                            padding: 15px 0;
                            border:1px solid #dddddd;
                            color: #555555;
                        }
                        .title{
                            padding: 12px;
                            line-height: 1.6;
                            .Astyle{
                                font-size: 14px;
                                margin-right: 36px;
                                white-space: nowrap;
                                color: #000000;
                            }
                        }
                        td{
                            border: 1px solid #dddddd;
                        }
                    }
                    tr:nth-of-type(even) {
                        background: #f3f4f4;
                    }
                }
            }
        }
        // 2.排序 
        .sortbox{
            width: $pageWidth;
            height: 40px;
            margin: 0 auto;
            margin-top: 36px;
            .sort{
                width: 1080px;
                height: 40px;
                margin: 0 auto;
                .sort-left{
                    width: 500px;
                    height: 40px;
                    float: left;
                    .sort-title{
                        line-height: 40px;
                        height: 40px;
                        // display: inline-block;
                        font-weight: bold;
                        margin: 0 15px 0 0;
                        color: #999999;
                        float: left;
                    }
                    .sortby{
                        float: left;
                        color: #909090;
                        position: relative;
                        a{
                            width: 80px;
                            height: 40px;
                            display: inline-block;
                            line-height: 40px;
                            text-align: center;
                            color: #909090;
                            border: 1px solid #d6d6d6;
                        }
                        a:hover{
                            text-decoration: none;
                        }
                        label{
                            margin-left: 5px;                        
                            font-size: 14px;
                            font-weight: 300;
                            #showcount{
                                display: none;
                                height: 40px;
                                font-weight: 500;
                            }
                        }
                        .kg{
                            float: left;
                            font-size: 34px;
                            position: absolute;
                            right: -50px;
                            top: 0;
                        }
                        .icon-kg-g{
                            display: none;
                            color:#759889;
                        }
                        .icon-kg-k{
                            display: block;
                            color: #909090;
                        }
                    }
                }
                // .kaiguan{
    
                // }
                .sort-right{
                    width: 100px;
                    height: 40px;
                    float: right;
                    font-size: 14px;
                    line-height: 40px;
                    .count{
                        color: #999999;
                        font-size: 14px;
                    }
                }
            }
        }
        // 3.商品展示
        .productShow{
            width: $pageWidth;
            height: 1384px;
            margin: 0 auto;
            margin-top: 30px;
            .productShowbox{
                width: $pageWidth;
                height: 1384px;
                display: flex;
                justify-content: center;
                ul{
                    width: 1080px;
                    height: 1384px;
                    li{
                        width: 324px;
                        height: 316px;
                        list-style: none;
                        float: left;
                        margin-bottom: 30px;
                        margin-right: 54px;
                        position: relative;
                        a{
                            display: block;
                            text-align: center;
                            img{
                                width: 220px;
                                height: 220px;
                                margin-bottom: 14px;
                            }
                        }
                        .productTitle{
                            width: 324px;
                            height: 36px;
                            margin-bottom: 2px;
                            font-size: 13px;
                            font-weight: bolder;
                            color: #333336;
                            padding: 0px 12px;
                        }
                        .productTitle:hover{
                            text-decoration: none;
                        }
                        .productTitle:visited{
                            text-decoration: none;
                            color: #333336;
                        }
                        .productPrice{
                            width: 324px;
                            height: 44px;
                            text-align: center;
                            .currentPric{
                                color: #d60000;
                            }
                            .originalPric{
                                color: #999999;
                            }
                        }
                        .bgPic{
                            width: 100%;
                            height: 100%;
                            background: rgba(110, 109, 109, 0.06);
                            // opacity: .5;
                            position: absolute;
                            top: 0;
                            left: 0;
                            // background: #cccccc;
                            transition: all 2s ease-in;
                            display: none;
                            span{
                                position: relative;
                                top: 50%;
                                left: 0;
                                transition: all 2s ease-in;
                                font-size: 12px;
                                letter-spacing: 2px;
                                padding: 15px 40px;
                                background-color: #9ac7b3;
                                border: 1px solid transparent;
                                color: #fff;
                                border-radius: 3px;
                            }
                        }
                        .bgPic:hover{
                            text-decoration: none;
                        }
                    }
                    li:nth-child(3n){
                        margin-right: 0;
                    }
                    li:nth-child(1){
                        img{
                            width: 160px;
                            height: 220px;
                        }
                    }
                    li:hover .bgPic{
                        display: block;
                        transition: all 1s ease-in;
                    }
                }
            }
        }
        .pagination{
            width: 275px;
            margin-left: 870px;
            .active{
                // background: #fff;
                .sp{
                    margin-left: 5px;
                    background: #9dafb8;
                    border-color: #9dafb8;
                    border-color: #9dafb8;
                    color: #555555;
                    
                }
            }
            .lastsp{
                margin-left: 5px;
            }
        }
    }
}
